<!--appel du partial view _form.erb.html-->
<%#= render 'form' %>
<!---->

<h1><%= @thread.title %></h1>
<p><%= @thread.content %></p>

<% if current_user.role == 'admin' && @thread.user == current_user %>
<div style="display:flex;">
    <p style="margin-left:10px;">
        <%= link_to "Edit Thread", edit_project_t_thread_path(@project, @thread), class: "btn btn-warning" %>
    </p>

    <p style="margin-left:10px; ">
        <%= form_with url: project_t_thread_path(@project, @thread), method: :delete, local: true do %>
            <%= submit_tag "Delete", class: "btn btn-danger btn-sm" %>
        <% end %>
    </p>
</div>

<% end %>

<h2>Messages</h2>

<!--appel du partial view _message.erb.html-->
<%= render @thread.messages %>

<%= link_to "New Message", new_project_t_thread_message_path(@thread.project, @thread) %>

<!--formulaire d akout du nouveau message-->
